<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />

  <app-text-input
    [formControl]="registerForm.controls['username']"
    [label]="'Username'"
  ></app-text-input>
  <app-text-input
    [formControl]="registerForm.controls['password']"
    [label]="'Password'"
    [type]="'password'"
  ></app-text-input>
  <app-text-input
    [formControl]="registerForm.controls['confirmPassword']"
    [label]='"Confirm password"'
    [type]='"password"'
  ></app-text-input>

  <div class="form-group text-center" style="margin-top: 1rem">
    <button class="btn btn-primary" type="submit" style="margin-right: 0.5rem">
      Register
    </button>
    <button class="btn btn-secondary" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
